/* Style Overrides Starts Here */

/* navbar override */
.navbar {
  display:block;
}

.navbar-fixed-top {
  border-width: 0;
}
/* navbar-brand override */
.navbar-brand {
  // height: 70px;
  padding: 5px;
}

/* Dropdown menu override */
.dropdown-toggle::after {
  content: none;
}

/* Panel Override */
.panel {
  background-color: transparent;
}

.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-body {
  padding: 4px;
}

/* Navbar-default Override */
.navbar-default .navbar-nav > li > a {
  color: #52b4f9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #52b4f9;
  color: #fff;
}

/* Card and card-footer override */
.card {
  border: none;
}
.card-footer {
  padding: 2em 3em;
  background-color: transparent;
  border-top: none;
}
